<!doctype html>
<html lang="pt-br">

<%- include('partials/header.ejs'); %>

<body>
    
    <%- include('partials/navbar-admin.ejs'); %>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="mt-4"><%= article.title %></h1>
        </div>

        <hr>
        
        <div>
            <%- article.content %>
        </div>
    </div>

    <%- include('partials/scripts.ejs'); %>

</body>
</html>