<!doctype html>
<html lang="pt-br">

<%- include('partials/header.ejs'); %>

<body>
    
    <% if(userAuth){ %>
        <%- include('partials/navbar-admin.ejs'); %>
    <% }else{ %>
        <%- include('partials/navbar-guest.ejs'); %>
    <% } %>

    <div class="container">

        <div class="d-flex justify-content-center">
            <h1 class="mt-4">Categorias</h1>
        </div>
        
        <hr>

        <% categories.forEach(category => { %>

            <div class="category bg-success">
                <a href="/categories/<%= category.slug %>/<%= category.id %>">
                    <h3><%- category.title %> </h3>
                </a>            
            </div>
            <br>
        <% }); %> 

    </div>

    <%- include('partials/scripts.ejs'); %>

</body>
</html>