<!doctype html>
<html lang="pt-br">

<%- include('partials/header.ejs'); %>

<body>
    
    <% if(userAuth){ %>
        <%- include('partials/navbar-admin.ejs'); %>
    <% }else{ %>
        <%- include('partials/navbar-guest.ejs'); %>
    <% } %>

    <div class="container">

        <div class="d-flex justify-content-center">
            <h1 class="mt-4">Categorias</h1>
        </div>
        
        <hr>

        <% if(categories.length != 0){ %>
            <% categories.forEach(category => { %>
    
                <div class="category bg-success">
                    <a href="/categories/<%= category.slug %>/<%= category.id %>">
                        <h3><%- category.title %> </h3>
                    </a>            
                </div>
                
                <br>

            <% }); %> 
        <% }else{ %>

            <% if(userAuth){ %>
                <p>
                    Não há categorias cadastradas. Você pode criar uma nova categoria a qualquer momento. Para isso, acesse o menu <a href="/admin/category/list">"Categorias > Gerenciar"</a>.
                </p>
           <% }else{ %>
                <p>
                    Não há categorias cadastradas. <a href="/register">Registre-se</a> para criar uma nova categoria.
                </p>
            <% } %> 
    
        <% } %>

    </div>

    <%- include('partials/scripts.ejs'); %>

</body>
</html>